@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.container-bg {
    background: #5c381a;
}
html {
    scroll-behavior: smooth;
}
body {
    background: #8d4f1c;
    font-family: "Merriweather Sans", sans-serif;
    color: #fff;
}
#intro {
    background: url(../img/main.jpg) bottom center / cover no-repeat;
    min-height: 750px;
    position: relative;
}
#intro{
    #overlay {
        background: rgba(0,0,0,.4);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
    #quickBook {
        max-width: 600px;
        background-color: rgba($color: #000000, $alpha: .5);
        border-radius: 20px;
        margin: 0 auto 10px auto;
    }
    #introduction {
        z-index: 2;
        h1 {
            font-family: "Arizonia", "Merriweather Sans", sans-serif;
        }
    }
}
.navbar-brand {
    font-family: "Arizonia", "Merriweather Sans", sans-serif;
}
#history {
    img {
        width: 100%;
    }
}
.heading {
    font-family: "Arizonia", "Merriweather Sans", sans-serif;
}

@media (max-width: 768px) {
    #virtual {
        margin-top: 5px;
    }
    #intro {
        min-height: 500px;
        h1 {
            font-size: 4rem;
        }
    }
}